body {
	text-align: center;
	background-color: #5555ff;
}

#topTitle {
	width: 80vw;
	font-size : 3em;
	color: #ffffff;
	background-color: #525252;
	margin: auto;
}

#titleImage {
	width: 80vw;
}

.navigation {
	width: 60vw;
	font-size: 2em;
	background-color: #3333bb;
	color: #ffffff;
}

.hidden {
	display: none;
}