:root {
	--mdc-theme-primary: #2196F3;
}

#screenStart {
	text-align: center;
}

#screenWebcam {
	text-align: center;
}

#screenName {
	text-align: center;
}

#titleImage {
	width: 50vh;
	margin-top: 15vh;
}

#snapPreview {
	width: 25vh;
	margin-top: 5vh;
}

#screenStart-button {
	margin-top: 15vh;
}

.hidden {
	display: none;
}